<h1>Contact</h1>
<p>If you would like to contact the beast for general questions, please visit
the <a href="http://marketofthebeast.heroku.com/feedback">feedback page</a>.</p>
<p>If you're a musician and would like to be apart of the label, please visit send
an email introducing yourself or your band and a sample or two of you're music to
themarketofthebeast@gmail.com. </p>
