<div class='story-container' >
  <h2 class='headline'>Record label focuses on support for local music</h2>
  <%= image_tag('sticker-logo.jpg', :alt => "Support Loco Music", :class => 'story-image-left', :width => "550px", :height => "214px", :style => "float: right; clear: right; margin: 0.75em") %>
    <span style='display: block'>
    <span class='bold'>Des Moines, IA ---</span>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus 
    pulvinar, orci non vestibulum semper, ante nisi adipiscing erat, a 
    tempus diam felis sed ante. Mauris justo velit, gravida ac lacinia 
    at, venenatis at velit. Donec eget arcu massa. Suspendisse vehicula 
    ipsum eget est cursus at sollicitudin sapien blandit. Pellentesque
    ac augue justo, id semper neque. Pellentesque tristique nulla ut
    lorem gravida a sollicitudin ligula condimentum. Sed malesuada, 
    dolor vitae ultricies pharetra, neque nisi molestie lacus, ac 
    semper orci nulla eu diam. Etiam at lectus sed ipsum mollis posuere. 
    Aenean mollis mollis massa, quis facilisis enim tempor vitae. Lorem 
    ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sit 
    amet dui purus. Vivamus vestibulum leo ut justo facilisis consequat.
    Quisque laoreet posuere nibh vel feugiat. Donec facilisis suscipit
    rhoncus. Pellentesque sodales eleifend consectetur. Etiam auctor 
    faucibus eros, a convallis enim bibendum ac. Duis porta tincidunt
    tincidunt. Pellentesque habitant morbi tristique senectus et netus 
    et malesuada fames ac turpis egestas.

    </span>
    <span style='display: block; text-indent: 1.5em; '>
    Duis nisl felis, ultricies id dictum vitae, vulputate a purus. Class 
    aptent taciti sociosqu ad litora torquent per conubia nostra, per
    inceptos himenaeos. Sed et ipsum massa. Mauris adipiscing semper
    lacus, ut tristique ante aliquam nec. Sed euismod, risus at 
    consectetur porttitor, dui metus bibendum quam, ac pellentesque 
    tellus purus a dolor. Ut ut sapien eget odio elementum ultricies. 
    Integer tempus augue et ante hendrerit accumsan. In laoreet posuere
    Sed neque tortor, dapibus quis rhoncus nec, suscipit vitae libero. 
    Nam feugiat venenatis mi, sed scelerisque nibh fermentum in. 
    Vestibulum sodales vehicula nisi, a sodales velit lacinia ut. In 
    rhoncus ultricies interdum. Duis tempus quam in orci lobortis non 
    egestas nisi iaculis. Aliquam erat volutpat. Aliquam volutpat, 
    nisl consequat imperdiet porta, tellus neque aliquet diam, quis 
    tempor mi magna id nibh. Nunc ut purus nec felis pharetra vestibulum
    ut nec nulla vehicula nisi, a sodales velit lacinia ut odio .
      <span class='continued-link'>
        <%= link_to "Continued on A12", about_path %>
      </span>
    </span> 
    
</div>
<!--<%= link_to "Subscribe Now", subscribe_path, :class => 'round', :id => 'subscribe-button' %>-->
