<header>
<% logo = image_tag('sticker-logo.jpg', :alt => 'Market of the Beast', :class => 'round', :width => '412', :height => '160') %>
  <%= link_to logo, root_path %>
  <nav class='round'>
    <ul>
      <li><%= link_to "Home", root_path %> </li>
      <li><%= link_to "Sign in", "#" %> </li>
    </ul>
  </nav>
</header>
